{% extends 'base.html.twig' %}

{% block title %}Page création{% endblock %}

{% block body %}
<section id="navigation">
    <div class="container-fluid fixed-top">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav flex-column">
                    <li><a type="button" class="btn btn-sm" href="#peintureAcrylique">Imaginarium</a></li>
                    <li><a type="button" class="btn btn-sm" href="#paysageFascinant">Paysage fascinant</a></li>
                    <li><a type="button" class="btn btn-sm" href="#animalOnirique">Animal onirique</a></li>
                    <li><a type="button" class="btn btn-sm" href="#animalDivin">Animal divin</a></li>
                    <li><a type="button" class="btn btn-sm" href="#portrait">Portraits et compositions</a></li>
                    <li><a type="button" class="btn btn-sm" href="#broderie">La broderie des merveilles</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="peintureAcrylique">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('img/laFabricDesSublimes/cerisiertitre.jpg') }}" class="imgCerisier" alt="imageCerisier">
                    <h2 class="elephant text-center">La peinture acrylique «L’imaginarium (compositions)»</h2>
                    <p class="segeoUI">
                        Créations de mondes imaginaires sublimés par l’intensité artistique de vos envies.
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
            <div class="flex">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre1ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre1Rond.jpg') }}" alt="CreationAcrylique0" >
                    </a>
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre2ORGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre2Rond.jpg') }}" alt="CreationAcrylique1">
                    </a>
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre3ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre3Rond.jpg') }}" alt="CreationAcrylique2">
                    </a>
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre4ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre4Rond.jpg') }}" alt="CreationAcrylique3">
                    </a>
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre4ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre4Rond.jpg') }}" alt="CreationAcrylique3">
                    </a>
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre4ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre4Rond.jpg') }}" alt="CreationAcrylique3">
                    </a>
            </div>
            <div class="row flex">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre5ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre5Rond.jpg') }}" alt="CreationAcrylique4">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre6ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre6Rond.jpg') }}" alt="CreationAcrylique5">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre7ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre7Rond.jpg') }}" alt="CreationAcrylique6">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre8ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre8Rond.jpg') }}" alt="CreationAcrylique7">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre9ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre9Rond.jpg') }}" alt="CreationAcrylique8">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre10ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre10Rond.jpg') }}" alt="CreationAcrylique9">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre11ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre11Rond.jpg') }}" alt="CreationAcrylique10">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre12ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre12Rond.jpg') }}" alt="CreationAcrylique11">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre13ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre13Rond.jpg') }}" alt="CreationAcrylique12">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre14ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre14Rond.jpg') }}" alt="CreationAcrylique13">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre15ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre15Rond.jpg') }}" alt="CreationAcrylique14">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre16ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre16Rond.jpg') }}" alt="CreationAcrylique15">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre17ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre17Rond.jpg') }}" alt="CreationAcrylique16">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre18ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre18Rond.jpg') }}" alt="CreationAcrylique17">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre19ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre19Rond.jpg') }}" alt="CreationAcrylique18">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre20ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre20Rond.jpg') }}" alt="CreationAcrylique19">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre21ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre21Rond.jpg') }}" alt="CreationAcrylique20">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre22ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre22Rond.jpg') }}" alt="CreationAcrylique21">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre23ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre23Rond.jpg') }}" alt="CreationAcrylique22">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <a href="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre24ORIGINALE.jpg') }}" target="_blank">
                        <img src="{{ asset('img/pageCreationAcryliqueImaginerium/oeuvre24Rond.jpg') }}" alt="CreationAcrylique23">
                    </a>
                </div>
            </div>
        </div>
</section>
<section id="paysageFascinant">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="image1">
                        <img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/feuilleTitre.png') }}" class="imgFeuille" alt="imageFeuille">
                    </div>
                    <div class="text-center image3">
                        <h2 class="elephant"> La peinture acrylique «Paysage fascinant»</h2>
                    </div>
                    <p class="para para3 segeoUI">
                        Créations de paysages envoûtants et colorés
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                            ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage1Rond.jpg') }}" alt="imagePaysage0" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage2Rond.jpg') }}" alt="imagePaysage1"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage3Rond.jpg') }}" alt="imagePaysage2"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage4Rond.jpg') }}" alt="imagePaysage3"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage5Rond.jpg') }}" alt="imagePaysage4"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage6ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage6Rond.jpg') }}" alt="imagePaysage5"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage7ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage7Rond.jpg') }}" alt="imagePaysage6"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage8ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage8Rond.jpg') }}" alt="imagePaysage7"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage9ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage9Rond.jpg') }}" alt="imagePaysage8"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage10Rond.jpg') }}" alt="imagePaysage9"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage11ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage11Rond.jpg') }}" alt="imagePaysage10"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage12ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage12Rond.jpg') }}" alt="imagePaysage11"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage13ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage13Rond.jpg') }}" alt="imagePaysage12"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage14ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage14Rond.jpg') }}" alt="imagePaysage13"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage15ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage15Rond.jpg') }}" alt="imagePaysage14"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage16ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAcryliquePaysageFascinant/paysage16Rond.jpg') }}" alt="imagePaysage15"></a>
            </div>
        </div>
    </div>
</section>
<section id="animalOnirique">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="image1">
                        <img src="{{ asset('img/pageCreationAnimalOnirique/hirondelleTitre.jpg') }}" class="imgHirondelle2" alt="imageHirondelle">
                    </div>
                    <div class="text-center image3">
                        <h2 class="elephant">L’aquarelle «Animal onirique»</h2>
                    </div>
                    <p class="para para3 segeoUI">
                        Créations de portraits d’animaux dans un monde onirique, végétal et graphique.
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                            ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAnimalOnirique/animal1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAnimalOnirique/animal1Rond.jpg') }}" alt="animalOnirique0" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAnimalOnirique/animal2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAnimalOnirique/animal2Rond.jpg') }}" alt="animalOnirique1"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAnimalOnirique/animal3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAnimalOnirique/animal3Rond.jpg') }}" alt="animalOnirique2"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationAnimalOnirique/animal4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationAnimalOnirique/animal4Rond.jpg') }}" alt="animalOnirique3"></a>
            </div>
        </div>
    </div>
</section>
<section id="animalDivin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="image1">
                        <img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/oiseauTitre.jpg') }}" class="imgOiseau" alt="imageOiseau">
                    </div>
                    <div class="text-center image3">
                        <h2 class="elephant">L’encre de chine et l’encre aquarelle «Animal divin»</h2>
                    </div>
                    <p class="para para3 segeoUI">
                        Créations de portraits d’animaux dans une harmonie graphique et colorée.
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal5Rond.jpg') }}" alt="animalDivin0" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal6ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal6Rond.jpg') }}" alt="animalDivin1"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal7ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal7Rond.jpg') }}" alt="animalDivin2"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal8ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal8Rond.jpg') }}" alt="animalDivin3"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal9ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal9Rond.jpg') }}" alt="animalDivin4" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal10ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal10Rond.jpg') }}" alt="animalDivin5"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal11ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal11Rond.jpg') }}" alt="animalDivin6"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal12ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal12Rond.jpg') }}" alt="animalDivin7"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal13ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal13Rond.jpg') }}" alt="animalDivin8" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal14ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal14Rond.jpg') }}" alt="animalDivin9"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal15ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal15Rond.jpg') }}" alt="animalDivin10"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal16ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationEncreChineAnimalDIvin/animal16Rond.jpg') }}" alt="animalDivin11"></a>
            </div>
        </div>
    </div>
</section>
<section id="portrait">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="image1">
                        <img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/mainMotifTitre.jpg') }}" class="imgMainMotif2" alt="imageMainMotif">
                    </div>
                    <div class="text-center image3">
                        <h2 class="elephant"> Le crayon de papier, stylo encre, encre de chine et aquarelle <br> «Portraits et compositions»</h2>
                    </div>
                    <p class="para para3 segeoUI">
                        Créations de portraits, de compositions imaginaires, de tatouage et de dessins fabuleux.
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                    ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait1Rond.jpg') }}" alt="portrait1" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait2Rond.jpg') }}" alt="portrait2"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait3Rond.jpg') }}" alt="portrait3"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait4Rond.jpg') }}" alt="portrait4"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait5Rond.jpg') }}" alt="portrait5" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait6ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait6Rond.jpg') }}" alt="portrait6"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait7ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait7Rond.jpg') }}" alt="portrait7"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait8ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait8Rond.jpg') }}" alt="portrait8"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait9ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait9Rond.jpg') }}" alt="portrait9" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait10ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait10Rond.jpg') }}" alt="portrait10"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait11ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait11Rond.jpg') }}" alt="portrait11"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait12ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationCrayonPapierPortraitComposition/portrait12Rond.jpg') }}" alt="portrait12"></a>
            </div>
        </div>
    </div>
</section>
<section id="broderie">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="image1">
                        <img src="{{ asset('img/pageCreationBroderieMerveille/fleurTitre.jpg') }}" class="imgFleur2" alt="imageFleur">
                    </div>
                    <div class="text-center image3">
                        <h2 class="elephant">La broderie des merveilles</h2>
                    </div>
                    <p class="para para3 segeoUI">
                        Créations figuratives ou abstraites, en accessoire de mode (broche, casquette)
                        ou décoration murale (dessin simple et/ou prénom ou mots brodés). Broder un petit bout
                        de paysage ou avoir un être cher près de votre coeur sublimera votre quotidien.
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationBroderieMerveille/broderie1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationBroderieMerveille/broderie1Rond.jpg') }}" alt="broderie1" ></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationBroderieMerveille/broderie2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationBroderieMerveille/broderie2Rond.jpg') }}" alt="broderie2"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationBroderieMerveille/broderie3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationBroderieMerveille/broderie3Rond.jpg') }}" alt="broderie3"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationBroderieMerveille/broderie4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationBroderieMerveille/broderie4Rond.jpg') }}" alt="broderie4"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ asset('img/pageCreationBroderieMerveille/broderie5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('img/pageCreationBroderieMerveille/broderie5Rond.jpg') }}" alt="broderie5" ></a>
            </div>
            <div class="col-md-3">
                <img src="{{ asset('img/pageCreationBroderieMerveille/cercleOeuvreAVenir.jpg') }}" alt="aVenir">
            </div>
            <div class="col-md-3">
                <img src="{{ asset('img/pageCreationBroderieMerveille/cercleOeuvreAVenir.jpg') }}" alt="aVenir">
            </div>
            <div class="col-md-3">
                <img src="{{ asset('img/pageCreationBroderieMerveille/cercleOeuvreAVenir.jpg') }}" alt="aVenir">
            </div>
        </div>
    </div>
</section>
{% endblock %}
