{% extends 'base.html.twig' %}

{% block title %}La fabric des sublimés{% endblock %}

{% block body %}

<div class="text-center">
    <img src="{{ asset('img/Accueil/logo.jpg')}}" alt="logoLaFabricDesSublimes">
</div>

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image1.jpg')}}" alt="imageHomePage0">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image2.jpg')}}" alt="imageHomePage1">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image3.jpg')}}" alt="imageHomePage2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image8.jpg')}}" alt="imageHomePage3">
            </div>
            <div class="col-md-4">
                <h2 class="accueil">Sublimer votre univers</h2>
                <p class="text-accueil m-0">Votre Créatrice sur mesure</p>
                <p class="text-accueil m-0">Sublime</p>
                <p class="text-accueil m-0">Votre univers en oeuvre d'art.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image4.jpg')}}" alt="imageHomePage4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image7.jpg')}}" alt="imageHomePage5">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image6.jpg')}}" alt="imageHomePage6">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/Accueil/image5.jpg')}}" alt="imageHomePage7">
            </div>
        </div>
        
    </div>
</div>


{% endblock %}
