<h1>Nouveau contact</h1>
<p>Email : {{ contact.email }}</p>
<p>Nom : {{ contact.nom }}</p>
<p>Prénom : {{ contact.prenom }}</p>
<p>Téléphone : {{ contact.phone }}</p>
<p>Sujet de la demande : {{ contact.sujet }}</p>
<p>Comment avez-vous connus La Fabric des Sublimés : {{ contact.fabric }}</p>
<p>Message : {{ contact.message }}</p>